@model CreateStudentDto

@{
    ViewData["Title"] = "اضافة مستخدم جديد";
    Layout = null;
}

<form class="ajaxForm" tname="#kt_datatable" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="FattherName" class="control-label"></label>
                <input asp-for="FattherName" class="form-control" />
                <span asp-validation-for="FattherName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="GrandfatherName" class="control-label"></label>
                <input asp-for="GrandfatherName" class="form-control" />
                <span asp-validation-for="GrandfatherName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="FamilyName" class="control-label"></label>
                <input asp-for="FamilyName" class="form-control" />
                <span asp-validation-for="FamilyName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="IDImage" class="control-label"></label>
                <input asp-for="IDImage" class="form-control" />
                <span asp-validation-for="IDImage" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="JoiningDate" class="control-label"></label>
                <input asp-for="JoiningDate" class="form-control" />
                <span asp-validation-for="JoiningDate" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="@Gender.ذكر">ذكر</option>
                    <option value="@Gender.أنثى">أنثى</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <select asp-for="Level" class="form-control">
                    <option value="@Level.الاول">الاول</option>
                    <option value="@Level.الثاني">الثاني</option>
                    <option value="@Level.الثالث">الثالث</option>
                    <option value="@Level.الرابع">الرابع</option>
                    <option value="@Level.الخامس">الخامس</option>
                    <option value="@Level.السادس">السادس</option>
                </select>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="IdNumber" class="control-label"></label>
                <input asp-for="IdNumber" class="form-control" />
                <span asp-validation-for="IdNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="estimate" class="control-label"></label>
                <input asp-for="estimate" class="form-control" />
                <span asp-validation-for="estimate" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <input type="submit" value="اضافة" class="btn btn-primary" />
            <a data-dismiss="modal" aria-label="Close" class="btn btn-danger">الغاء</a>
        </div>
    </div>

</form>
<script>
    PageLoadActions();
</script>


<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>